html{
  height: 100%;
  width: 100%;
}

.whole{
  background-color: ivory;
}

.header{
  color: #474935;
} 

.buttons {
  text-align: center;
}

.box {
  height: 400px;
  width: 800px;
  border: 1px black solid;
  padding: 5px;
}

.red {
  
}

.blue {
  
}

.yellow {
  
}

.green {
 
}

.pink {  
  
}

.purple {
  
}

.red1 {
  height: 20px;
  width: 150px;
  padding: 2px;
  margin: 2%;
  text-align: center;
  color: #2660A4;
  
}

.blue1 {
  border: darkblue 3px dotted;
  width: 125px;
  padding: 5px;
  margin: 8%;
}

.yellow1 {
  border: deeppink 3px dotted;
  width: 125px;
  padding: 5px;
  margin: 8%;
}

.green1 {
  border: maroon 3px dotted;
  width: 125px;
  padding: 5px;
  margin: 5%;
}

.pink1 {
  
}

.purple1 {
  
}
