html{
  height: 100%;
  width: 100%;
}


.box {
  height: 400px;
  width: 800px;
  border: 1px black solid;
}

.red {
  background-color: darkred;
}

.blue {
  background-color: dodgerblue;
}

.yellow {
  background-color: lightyellow;
}

.green {
  background-color: lightgreen;
}

.red1 {
  border: pink 3px dotted;
  width: 125px;
  padding: 5px;
  margin: 5%;
  transform: rotate(-20deg);
}

.blue1 {
  border: darkblue 3px dotted;
  width: 125px;
  padding: 5px;
  margin: 8%;
  transform: rotate(-70deg);
}

.yellow1 {
  border: deeppink 3px dotted;
  width: 125px;
  padding: 5px;
  margin: 8%;
  transform: rotate(-120deg);
}

.green1 {
  border: maroon 3px dotted;
  width: 125px;
  padding: 5px;
  margin: 5%;
  transform: rotate(-180deg);
}
